{% extends 'base.html' %}
{% load static %}

{% block title %} Profile {% endblock title %}
{% block content %}
    <!-- page title --


    
    <!-- product details wrapper -->
    <section class="pt-100 pb-70">
        <div class="container">

            {% for product  in Products %}
            <div class="row align-items-center">
                <div class="col-md-6">
                    <!-- Start shop product slider -->
                    <div class="shop-product-slider-wrap">
                        <!-- Start shop slider top side -->
                         <div class="swiper-container product-gallery">
                            <div class="swiper-wrapper">
                                
                                <div class="swiper-slide">
                                    <img id="zoom_01" class='' src="{{ product.PrincipalImage.url }}" data-zoom-image="{{ product.PrincipalImage.url }}" alt="" style="width: 772px; height:600px"/>
                                </div>
                            </div>
                        </div>
                         <!-- End of shop slider top side -->
                        
                        <!-- Start shop slider bottom side -->
                        <div class="swiper-container product-thumbs">
                            <div class="swiper-wrapper">
                                {% for img in product.Images.all %}
                                <div class="swiper-slide">
                                    <img src="{{ img.Image.url }}" data-rjs="2" alt="">
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- End of shop slider bottom side -->
                    </div>
                    <!-- End of shop product slider -->
                </div>

                <div class="col-md-6">
                    <!-- product details inner -->
                    <div class="product-details-inner">
                        <!-- product info -->
                        <div class="product-info">
                            <div class="product-rating">
                                <div class="star-rating">
                                    <span></span>
                                </div>
                            </div>

                            <!-- product title -->
                            <div class="product-title">
                                <h2><a href="shop-details.html">{{product.Name}}</a></h2>
                            </div>
                            <!-- end of product title -->

                             <div class="product-price">
                                {% if product.Discount %}
                                <h3 class="new-price">${{product.Discount}}</h3>
                                <h5 class="old-price">${{product.Price}}</h5>
                                {% else %}
                                <h3 class="new-price">${{product.Price}}</h3>
                                {% endif %}
                            </div>

                             <div class="product-description">
                                 <p>{{product.Description}}</p>
                             </div>

                            <!-- list product group -->
                            <div class="list-product-group">
                                <ul class="mb-0 list-unstyled">

                                    <li class="available-group group">
                                        <span class="list-heading">Disponible:</span>
                                        <div class="product-available">
                                            <input type="disable" value="{{product.Stock}}" class="product-quantity-list product-size" disabled>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- End of list product group -->

                            <!-- product mata -->
                            <div class="product_meta item-product-meta-info">
                                <span class="posted_in">
                                    <span class="meta-item-list">
                                        <a href="#">{{product.Category}}</a>
                                    </span>
                                </span>
                            </div>
                            <!-- End of product mata -->
                            <div class="product-details-btns">
                                <div class="addto-bag-btn">
                                    <a href="#" class="quick_view btn btn-fill-type">
                                        <span class="icon-title">Editar información</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                         <!-- End of product info -->
                    </div>
                    <!-- End of product details inner -->
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <!-- product details tab -->
                    <div class="product-details-tab-inner">
                        <div class="product-details-nav">
                            <nav class="nav text-center">
                                <a id="nav-dis-tab" data-toggle="tab" href="#dis" class="active">Caracteristicas</a>
                            </nav>
                        </div>
                    </div>
                    <!-- End of product details tab -->
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- product details tab Contaent-->
                            <div class="tab-content single-product-tab">
                                <div class="tab-pane fade show active" id="dis" role="tabpanel" aria-labelledby="nav-dis-tab">
                                    <!-- description inner -->
                                    <div class="description-inner">
                                        <p>{{product.Characteristics}}</p>
                                    </div>
                                    <!-- End of description inner -->
                                </div>
                            </div>
                            <!--End of product details tab Contaent-->
                        </div>
                    </div>
                </div>
            </div>
            <!-- 
Modal Editar producto -->
<div class="modal-quickview-container">
    <div class="quick-view-content-wrap">
        <div class="modal-window-overlay"></div>
        <div class="quick-view-content">
            <div class="modal-window-close">
                <img src="{% static 'img/icons/close-button.svg' %}" class="svg" alt="">
            </div> 
            <div class="quick-view-content-inner">
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <!-- Start shop product slider -->
                        <div class="shop-product-slider-wrap">
                            <!-- Start shop slider top side -->
                             <div class="swiper-container quick-product-gallery">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide" style="max-height: 1200px;">
                                        {% for img in product.Images.all %}
                                        <img class='' src="{{ img.Image.url }}" alt="" data-rjs="2" />
                                        
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                             <!-- End of shop slider top side -->
                        </div>
                        <!-- End of shop product slider -->
                    </div>

                    <div class="col-lg-5">
                        <!-- product details inner -->
                        <div class="product-details-inner">
                            <form action="#" method="Post" novalidate enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-12">
                                        <label> {{ form.Name.label_tag }}</label>
                                        {{ form.Name }}
                                        <small class= "text-danger float-left">{{ form.Name.errors|striptags }}</small>
                                    </div>
                                    <div class="col-md-12 mt-2">
                                        <label> {{ form.Stock.label_tag }}</label>
                                        {{ form.Stock }}
                                        <small class= "text-danger float-left">{{ form.Stock.errors|striptags }}</small>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label> {{ form.Price.label_tag }}</label>
                                        {{ form.Price }}
                                        <small class= "text-danger float-left">{{ form.Price.errors|striptags }}</small>
                                    </div>
                                    <div class="col-md-6">
                                        <label> {{ form.Discount.label_tag }}</label>
                                        {{ form.Discount }}
                                        <small class= "text-danger float-left">{{ form.Discount.errors|striptags }}</small>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label> {{ form.PrincipalImage.label_tag }}</label>
                                        {{ form.PrincipalImage }}
                                        <small class= "text-danger float-left">{{ form.PrincipalImage.errors|striptags }}</small>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 mt-2">
                                        <label> {{ form.Category.label_tag }}</label>
                                        {{ form.Category }}
                                        <small class= "text-danger float-left">{{ form.Category.errors|striptags }}</small>
                                    </div>
                                    <div class="col-md-12 mt-2">
                                        <label> {{ form.Material.label_tag }}</label>
                                        {{ form.Material }}
                                        <small class= "text-danger float-left">{{ form.Material.errors|striptags }}</small>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mt-2">
                                        <label> {{ form.Gender.label_tag }}</label>
                                        {{ form.Gender }}
                                        <small class= "text-danger float-left">{{ form.Gender.errors|striptags }}</small>
                                    </div>
                                    <div class="col-md-6">
                                        <label> {{ form.Size.label_tag }}</label>
                                        {{ form.Size }}
                                        <small class= "text-danger float-left">{{ form.Size.errors|striptags }}</small>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 mt-2">
                                        <label> {{ form.Description.label_tag }}</label>
                                        {{ form.Description }}
                                        <small class= "text-danger float-left">{{ form.Description.errors|striptags }}</small>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 mt-2">
                                        <label> {{ form.Characteristics.label_tag }}</label>
                                        {{ form.Characteristics }}
                                        <small class= "text-danger float-left">{{ form.Characteristics.errors|striptags }}</small>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 mt-2">
                                        <label> {{ form.Images.label_tag }}</label>
                                        {{ form.Images }}
                                        <small class= "text-danger float-left">{{ form.Images.errors|striptags }}</small>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-fill-type w-100 mt-2">Agregar Producto</button>
                            </form>
        
        
                            </form>
                        </div>
                        <!-- End of product details inner -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 


            {% endfor %}
        </div>
    </section>
    <!-- End of product details wrapper -->


    {% endblock %}

